.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #ffe6cd;
    position: relative; /* Add position relative to footer for absolute positioning */
    
    min-height: 200px; /* Adjust minimum height as needed */
  }
  
  .footer-column {
    flex: 1 1 30%; /* Ensure each column takes up equal space with a minimum width */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  
  .footer-center {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-column h3
  {
    color: #FF8755;
    margin-bottom: 10px;
    font-size: 22px;
    margin-top: 10px;
  }
  .footer-center p{
    font-size: 18px;
    font-family: 'Lucida Sans';
    font-weight: 500;


  }
  
  .contact-item {
    display: flex;
    
    gap: 5px;
    margin-bottom: 5px;
  }
  
  .contact-item img {
    width: 15px;
  }
  
  .footer-links ul {
    text-align: left;
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .footer-social {
    display: flex;
    justify-content: center; /* Center social icons horizontally */
    gap: 10px;
    margin-top: 10px;
  }
  
  .footer-social img {
    width: 20px;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #edcca8;
  }
  
  .copyright {
    color: #333;
    font-size: 12px;
  }
  
  .terms {
    text-align: right;
    flex: 1;
    margin-right: 40px;
    font-size: 12px;
  }
  
  .terms .terms-text {
    font-size: 12px;
    margin-left: 10px;
  }
  
  .website {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
     /* Adjust vertical position */
    left: 0;
    right: 0;
    margin: 0 auto; /* Centers horizontally */
  }
  
  @media (max-width: 800px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      width: 100%;
      margin-bottom: 20px;
    }
  
    .footer-center {
      margin-top: 0;
      margin-left: 0; /* Reset margin for center content on smaller screens */
    }
  
    .website {
      text-align: center;
      position: relative; /* Reset position for smaller screens */
      bottom: auto;
      margin: 10px 0; /* Adjust margin */
      
    }
  }
  