@font-face {
    font-family: 'PoetsenOne';
    src: url('../Assets/PoetsenOne.ttf') format('truetype');
}

.hero{
    min-height: 70vh; /* Reduced min-height */
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
    position: relative; /* Ensure .hero is relative to position its children */
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: url('../Assets/hero-background.png');
    background-size: cover;
    background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
}

.custom-shape-divider-bottom-1718953704 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1718953704 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 102px;
}

.custom-shape-divider-bottom-1718953704 .shape-fill {
    fill: #FFFFFF;
}



.hero-left h1{
    color: white;
    font-size: 30px;
    font-family: 'PoetsenOne';
}

.hero-left p{
    color: white;
    font-family: 'PoetsenOne';
    font-size: 50px;   
    font-weight: 700;
    font-style: italic;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'PoetsenOne';
    
}
.hero-hand-icon img{
    width: 70px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 220px;
    height: 50px;
    border-radius: 75px;
    margin-top: 20px;
    background: #ff4141;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.hero-latest-btn img{
    width: 16px;
}

.hero-right img{
    width: 400px;
}

@media(max-width:1200px){
    
    .hero{
        padding: 10px 6%;
    }
    .hero-left p{
        font-size: 70px;
    }
    .hero-right img{
        width: 400px;
    }
   
}
@media(max-width:900px){
   
    .hero-left p{
        font-size: 45px;
    }
    .hero-right img{
        width: 350px;
    }
   
}
@media(max-width:700px){
   .hero{
    padding: 0 10%;
    min-height: 95vh;
   }
    .hero-left p{
        font-size: 55px;
    }
    .hero-right{
        display: none;
    }
    .hero-left{
        line-height: 1.2;
    }
    .hero-left h2{
        margin-bottom: 20px;
    }
  
    .hero-latest-btn{
        margin-top: 30px;
    }
}
